figure {
    width: 80%;
    text-align: center;
    margin: 1rem auto 1rem auto;
}

figure img {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

figcaption {
    font-size: 0.8rem;
    padding: 0.5rem
}

.dividers {
    padding: 1.5rem 0;
    border-top: 0.6rem dotted var(--color);
    font-weight:normal;
}

.purplebox1 {
    border-left: 15px solid #6C35C0;
    background-color: #DBCDEF;
    padding: 10px 10px 5px 15px;
    margin: 40px;
}

.purplebox2 {
    border: 2px solid #6C35C0;
    padding: 10px 10px 5px 15px;
    margin: 40px;
}

.underline {
    border-bottom: 1px solid #189;
    width: 600px;
}

/* Bullet Styles*/
.xmodule_display.xmodule_HtmlModule ul,
.xmodule_display.xmodule_HtmlModule ol{
    margin-left: 1em;
}

