figure {
    width: 80%;
    text-align: center;
    margin: 1rem auto 1rem auto;
}

figure img {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

figcaption {
    font-size: 0.8rem;
    padding: 0.5rem
}

.dividers {
    padding: 1.5rem 0;
    border-top: 0.6rem dotted var(--color);
    font-weight:normal;
}
/* Table Styles */
.xmodule_display.xmodule_HtmlModule th {
    background-color: #4E778A !important;
    color: #ffffff;
    border: 1px solid #4E778A !important;
}


/* Bullet Styles*/
.xmodule_display.xmodule_HtmlModule ul,
.xmodule_display.xmodule_HtmlModule ol{
    margin-left: 1em;
}